---
title: Logo Build
---

<% content_for :assets do %>
  <script src="../../javascripts/customBezier.js"></script>
  <script src="../../javascripts/demoE.js"></script>
<% end %>
  
<div class="grid"></div>

<svg class="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 937.8 153.9" enable-background="new 0 0 937.8 153.9" xml:space="preserve" vector-effect="non-scaling-stroke" >
  <g class="mark" stroke-width="3">
    <path class="arc" fill="#5754FC" stroke="#5754FC" stroke-miterlimit="10" d="M75,149.6V122c25.9,0,47-21.1,47-47s-21.1-47-47-47s-47,21.1-47,47
      H0.5C0.5,33.9,33.9,0.5,75,0.5s74.5,33.4,74.5,74.5S116.1,149.6,75,149.6z"/>
    <rect class="rect1" x="47.5" y="94.4" fill="#5754FC" stroke="#5754FC" stroke-miterlimit="10" width="27.6" height="27.6"/>
    <rect class="rect2" x="24.4" y="122" fill="#5754FC" stroke="#5754FC" stroke-miterlimit="10" width="23.1" height="23.1"/>
    <rect class="rect3" x="6.7" y="104.4" fill="#5754FC" stroke="#5754FC" stroke-miterlimit="10" width="17.6" height="17.6"/>
  </g>
  <g class="type" stroke-width="0">
    <path fill="#5752FC" stroke="#5752FC" stroke-miterlimit="10" d="M233.8,36.1c24.7,0,43,16.1,43,43.3c0,27.2-18.4,43.3-43.1,43.3
      h-35.5V36.1H233.8z M216,107.4H234c15.1,0,25.1-9.4,25.1-28s-10-28-25.1-28H216V107.4z"/>
    <path fill="#5752FC" stroke="#5752FC" stroke-miterlimit="10" d="M309.5,43.3c0,5.6-4.5,10.1-10.2,10.1c-5.7,0-10.1-4.5-10.1-10.1
      c0-5.7,4.6-10.2,10.1-10.2C304.9,33.1,309.5,37.6,309.5,43.3z M290.8,122.7V62.8h16.9v59.9H290.8z"/>
    <path fill="#5752FC" stroke="#5752FC" stroke-miterlimit="10" d="M367.9,69.1v-6.3h15.9v62.1c0,17.3-11.8,28.5-30.2,28.5
      c-18.8,0-28.6-9.4-30.8-23l16.8-0.6c0.8,5.8,5.8,9.3,13.4,9.3c8.3,0,14-4.3,14-12.9v-8.6c-3.2,3.5-9.1,6.4-16.9,6.4
      c-16.9,0-28.8-12.4-28.8-31.1c0-18.8,11.9-31.1,28.8-31.1C358.5,61.7,364.8,64.9,367.9,69.1z M338.4,92.8c0,10.7,6,16.7,14.5,16.7
      c8.3,0,14.1-5.7,14.1-15.3v-2.8c0-9.6-5.8-15.3-14.1-15.3C344.4,76.2,338.4,82.2,338.4,92.8z"/>
    <path fill="#5752FC" stroke="#5752FC" stroke-miterlimit="10" d="M418.2,43.3c0,5.6-4.5,10.1-10.2,10.1c-5.7,0-10.1-4.5-10.1-10.1
      c0-5.7,4.6-10.2,10.1-10.2C413.7,33.1,418.2,37.6,418.2,43.3z M399.5,122.7V62.8h16.9v59.9H399.5z"/>
    <path fill="#5752FC" stroke="#5752FC" stroke-miterlimit="10" d="M453.8,99.7c0,6.6,4.3,9,9,9c2.4,0,3.9-0.3,5.2-0.6v15.1
      c-2.4,0.3-4.7,0.7-9.4,0.7c-13,0-21.9-6.3-21.8-20.1l0.1-26.3h-10.9V62.8h11l0.1-19.8h16.9l-0.1,19.8h14v14.6H454L453.8,99.7z"/>
    <path fill="#5752FC" stroke="#5752FC" stroke-miterlimit="10" d="M528.3,85.8v36.9H512v-4.9c-3.4,3.5-8.5,6.1-15.3,6.1
      c-12,0-19.9-6.1-19.9-17.7c0-13.3,11.2-17.6,24-18.2l10.7-0.6v-2.3c0-6-2.5-9.3-7.8-9.3c-5.8,0-8.3,3.9-8.3,7.9l-16.9-0.7
      c0-10.5,9.6-21.4,25-21.4C519.5,61.7,528.3,70,528.3,85.8z M502.4,99.2c-5.1,0.2-8.7,2-8.7,6.3c0,3.9,2.9,5.4,6.9,5.4
      c6.1,0,10.8-3.4,10.8-9.7v-2.5L502.4,99.2z"/>
    <path fill="#5752FC" stroke="#5752FC" stroke-miterlimit="10" d="M544.5,122.7v-90h16.9v90H544.5z"/>
    <path fill="#5752FC" stroke="#5752FC" stroke-miterlimit="10" d="M665.5,79.4c0,27.2-19.1,44.6-44.9,44.6c-26.1,0-45-17.4-45-44.6
      c0-27.2,19-44.6,45-44.6C646.4,34.8,665.5,52.2,665.5,79.4z M593.7,79.4c0,17.8,11,28.7,26.9,28.7c15.6,0,26.6-10.9,26.6-28.7
      c0-17.9-11-28.7-26.6-28.7C604.7,50.7,593.7,61.5,593.7,79.4z"/>
    <path fill="#5752FC" stroke="#5752FC" stroke-miterlimit="10" d="M735.3,84.8l-16.6,1.4c-0.8-6.1-5.3-10.1-11.8-10.1
      c-7.9,0-13.5,6-13.5,16.7c0,10.5,5.7,16.6,13.5,16.6c6.6,0,11-3.7,11.9-9.7l16.4,1.5C733,115.3,721.7,124,707,124
      c-17.6,0-30.7-11.6-30.7-31.1c0-19.7,13-31.1,30.7-31.1C721.5,61.7,733.1,70.4,735.3,84.8z"/>
    <path fill="#5752FC" stroke="#5752FC" stroke-miterlimit="10" d="M762.8,98.2c0.3,7.4,4.9,12.2,12.5,12.2c5.9,0,9.7-2.4,11-6.6
      l17,0.8c-2.1,11.3-13.5,19.5-27.6,19.5c-18.3,0-30.9-11.9-30.9-31.1c0-19.3,12.6-31.1,30.5-31.1c17.3,0,28.6,11.1,28.6,29.8v6.7
      H762.8z M762.8,86.9h24.1c-0.3-7.3-4.1-12-11.7-12C768,74.9,763.2,79.3,762.8,86.9z"/>
    <path fill="#5752FC" stroke="#5752FC" stroke-miterlimit="10" d="M865.6,85.8v36.9h-16.3v-4.9c-3.4,3.5-8.5,6.1-15.3,6.1
      c-12,0-19.9-6.1-19.9-17.7c0-13.3,11.2-17.6,24-18.2l10.7-0.6v-2.3c0-6-2.5-9.3-7.8-9.3c-5.8,0-8.3,3.9-8.3,7.9l-16.9-0.7
      c0-10.5,9.6-21.4,25-21.4C856.8,61.7,865.6,70,865.6,85.8z M839.6,99.2c-5.1,0.2-8.7,2-8.7,6.3c0,3.9,2.9,5.4,6.9,5.4
      c6.1,0,10.8-3.4,10.8-9.7v-2.5L839.6,99.2z"/>
    <path fill="#5752FC" stroke="#5752FC" stroke-miterlimit="10" d="M937.3,86.1v36.6h-16.9V89.4c0-7.6-4.1-11.9-10.5-11.9
      c-6.7,0-11.1,4.9-11.1,12v33.2h-16.9V62.8h16V69c2.7-4.2,8-7.3,16.1-7.3C927.6,61.7,937.3,70.6,937.3,86.1z"/>
  </g>
</svg>
