---
title: Click to progress
---

<% content_for :assets do %>
  <script src="../../javascripts/demoB.js"></script>
<% end %>
  
<div class="grid"></div>

<div class="boxWrap">
  <div class="boxArrow"></div>

  <div class="box">
    <h1 class="header">Be-bad</h1>
    <h1 class="header">Be-rad</h1>

    <div class="projects">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="box">
    <h1 class="header">Go-Good</h1>
    <h1 class="header">Go-Great</h1>

    <div class="projects">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>