---
title: Slideshow
---

<% content_for :assets do %>
  <script src="../../javascripts/demoD.js"></script>
<% end %>

<div class="slideWrap">


</div>

<nav class="slideNav">
  <ul>
    <li class="active"><a href="#">Slide 1</a></li>
    <li><a href="#">Slide 2</a></li>
    <li><a href="#">Slide 3</a></li>
  </ul>
</nav>