@charset "utf-8";

$white: #ffffff;
$blue: #2B63FF;
$green: #00FFB8;

* {
  box-sizing: border-box;
}

body {
  padding: 125px 0 0 0;
  text-align: center;
  font-family: 'Circular'; 
  transition: all 1s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  position: fixed;
  background-color: $white;
  height: 50px;
  line-height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid $blue;
  text-align: center;
  z-index: 10;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    padding: 0;

    &.home {
      position: absolute;
      left: 0;

      .hamburger {
        display: inline-block;
        padding-top: 18px;

        span {
          width: 23px;
          height: 3px;
          border-radius: 3px;
          background: $blue;
          margin-bottom: 3px;
          display: block;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      a {
        opacity: .5;
      }
    }

    a {
      text-decoration: none;
      color: $blue;
      opacity: .6;
      transition: all .4s ease;

      &:hover {
        opacity: 1;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}

.index {
  padding-top: 0;

  h1 {
    color: $blue;
    opacity: 1;
    visibility: visible;
    font-size: 28px;
    width: 528px;
    margin: 80px auto;
    line-height: 1.6;
  }

  nav {
    height: auto;
    border: none;
    position: relative;
    background: none;
    width: 800px;
    margin: 0 auto;

    li {
      width: 380px;
      display: block;
      float: left;
      font-size: 20px;
      margin: 0 6px;

      &.home {
        display: none;
      }

      a {
        opacity: 1;
        height: 100px;
        line-height: 100px;
        display: block;
        transition: all .3s ease;
        cursor: pointer;
        color: #4A4A4A;
        border-bottom: 1px solid #eaeaea;

        &:hover {
          color: $blue;
          border-bottom-color: rgba(43, 99, 255, 0.28);
        }
      }
    }
  }
}

.background-0 {
  background-color: $white;
}

.background-1 {
  background-color: $green;

  .grid {
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKICAgdmlld0JveD0iMCAwIDUgNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNSA1IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGNpcmNsZSBmaWxsPSIjZmZmZmZmIiBjeD0iMC4zIiBjeT0iMC4zIiByPSIwLjMiLz4KPC9zdmc+Cg==') repeat;
    background-size: 18px;
  }

  .box {
    border-color: $white;
  }

  h1 {
    color: $white;
  }

  .projects {
    div {
      background: $white;
    }
  }

  nav {
    border-top: 1px solid $green;
    li {
      a {
        color: darken($green, 5%);
      }
    }
  }

  .boxArrow {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNjUuMyAzMS44IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2NS4zIDMxLjgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHBvaW50cz0iMC41LDMxLjMgDQoJMzIuOCwwLjUgNjQuOCwzMS4zICIvPg0KPC9zdmc+DQo=') no-repeat;
  }
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKICAgdmlld0JveD0iMCAwIDEwIDEwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMCAxMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxjaXJjbGUgZmlsbD0iIzY2NjY2NiIgY3g9IjAuMyIgY3k9IjAuMyIgcj0iMC4zIi8+Cjwvc3ZnPgo=') repeat;
  background-size: 18px;
  opacity: 0;
  z-index: -1;
}

h1 {
  color: $blue;
  margin: 0;
  padding: 0;
  font-size: 45px;
  opacity: 0;
  visibility: hidden;
}

.boxWrap {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  width: 400px;
}

.box {
  padding: 50px 70px 55px;
  border: 3px solid $blue;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.projects {
  margin: 40px auto 0 auto;

  div {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: $green;
    display: inline-block;
    margin: 0 9px;
    opacity: 0;
    visibility: hidden;
  }
}



// DEMO b


.boxArrow {
  position: absolute;
  left: 50%;
  top: 41px;
  margin-left: -35px;
  height: 34px;
  width: 70px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNjUuMyAzMS44IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2NS4zIDMxLjgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzhDOEM4QyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHBvaW50cz0iMC41LDMxLjMgDQoJMzIuOCwwLjUgNjQuOCwzMS4zICIvPg0KPC9zdmc+DQo=') no-repeat;

  svg {
    width: 100%;
    height: 100%;
  }
}

// demoC

.circleWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 50px;
  overflow: hidden;
}

.circles {
  position: relative;
  height: 100%;
}

svg {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transition: fill .3s ease;
}

svg:not(:root) {
  overflow: visible;
}

.ring {
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
}

$class-slug: ring !default;
$size: 100px; //if i want to change this, i need to change the svg 100 also
$weight: 1.3; // weight calculates the seperation of circles

.ring1 {
  width: calc(#{$size} * #{$weight});
  margin: calc((#{$size} * #{$weight}) / -2) 0 0 calc((#{$size} * #{$weight}) / -2);
}

@for $i from 2 through 5 {
  .#{$class-slug}#{$i} {
    width: calc(#{$size} * (#{$i} * #{$weight}));
    height: calc(#{$size} * (#{$i} * #{$weight}));
    margin: calc((#{$size} * (#{$i} * #{$weight}) / -2)) 0 0 calc((#{$size} * (#{$i} * #{$weight}) / -2));
  }
}

.circleWrap {

  header {
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    display: table;
    width: 700px;
    margin: 0 auto;
  }

  h1 {
    font-size: 60px;
    opacity: 0;
    visibility: hidden;
    display: table-cell;
    vertical-align: middle;
  }
}


// slideshow
.slideWrap {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
}


.slide {
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //transform: translateY(100%);
  transition: opacity 0.3s linear, visibility 0.3s linear;
  z-index: 1;

  .bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #252A3F;
    z-index: 1;
  }

  .slideContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    z-index: 2;
    color: white;

    h2 {
      font-size: 55px;
      margin-bottom: 5px;
      text-shadow: 2px 2px 1px #252A3F;

      span {
        margin: 0 5px;
        font-size: 68px;
      }

      .top {
        font-size: inherit;
      }
    }
  }

  &.slide1 .bg{
    background-image: url('../images/slide1.jpg');
  }
  &.slide2 .bg{
    background-image: url('../images/slide2.jpg');
  }
  &.slide3 .bg{
    background-image: url('../images/slide3.jpg');
  }
}

.demos_slideshow {
  nav {
    bottom: -50px;
    border: 0;

    li.home {
      top: -50px;
      
      a {
        opacity: 1;
      }

      .hamburger span {
        background: white;
      }
    }
  }

  .slideNav {
    bottom: 0;
    transform: translateY(0);
    background: $blue;
    color: $white;

    a {
      color: $white;
    }

    .active {
      a {
        opacity: 1;
      }
    }
  }
}

//logo

.demos_logo {
  padding: 0;

  .type {
    // opacity: 0;
    // visibility: hidden;
  }

  svg {
    opacity: 1;
    visibility: visible;
    height: 60px;
    position: absolute;
    top:0;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;

    path, rect {
      opacity: 0;
      visibility: hidden;
      fill: rgba(0,0,0,0);
    }

    .rect1 {

    }

    .rect2 {
      
    }

    .rect3 {
      
    }
  }
}